- if user_signed_in?
  - if @set_list.liked_by?(current_user)
    = link_to event_set_list_likes_path(event, set_list), method: :delete, remote: true do
      .like__box
        .heart__mark__unregistered
          &#9829
        .like__number
          = set_list.likes.count
  - else
    = link_to event_set_list_likes_path(event, set_list), method: :post, remote: true do
      .like__box
        .heart__mark__registered
          &#9829
        .like__number
          = set_list.likes.count
- else
  .like__box
    .heart__mark__registered
      &#9829
    .like__number
      = set_list.likes.count