.top_header
  = render partial: 'shared/header'
.contents
  .introduction
    .introduction__title
      邦ロックファン全員集合
    .introduction__explanation
      Summary application for rock lovers
    .introduction__leftbox
    .introduction__backgrand
  .blank
    .blank__title.fadeInUp
      ABOUT
    .blank__explanation.fadeInUp
      LOCK LOVE HOUSEでできること
  .ticket__transfer
    .ticket__transfer__leftbox
      = image_tag "concert-768722_1920.jpg", class: "live__image"
    .ticket__transfer__rightbox
      .ticket__transfer__rightbox__title.fadeInUp
        チケット譲渡
      .ticket__transfer__rightbox__explanation.fadeInUp
        イベント開催間際でも行けなくなったイベントチケットをSNSアカウントや
        %br
        プロフィールを見て譲りたいファンの方に譲渡することができます。
        %br
        また、チケットを探している人は定価でチケットを手に入れるチャンスがあります。
        %br
        本アプリでは定価の10%以上の価格でのチケット譲渡は行えない仕様になっております。
      .ticket__transfer__rightbox__button.fadeInUp
        = link_to "transfer", "#"
  .share
    .share__leftbox
      .share__leftbox__title.fadeInUp
        セットリスト、画像共有
      .share__leftbox__explanation.fadeInUp
        公演したアーティストのセットリストを投稿したり、
        %br
        セットリストに対してコメントするなど交流ができます。
        %br
        また、SNSに投稿する写真を撮り忘れても心配ありません。
        %br
        アプリを通じて画像を保存することができます。
        %br
        さらに本アプリはファン同士をつなげることにも役立つでしょう。
      .share__leftbox__button.fadeInUp
        = link_to "share", "#"
    .share__rightbox
      = image_tag "post_image.jpg", class: "post__image"

.top_footer
  = render partial: "shared/top_footer"
  