.top_header
  = render partial: 'shared/header'
.contents
  .introduction
    .introduction__title
      邦ロックファン全員集合
    .introduction__explanation
      Summary application for rock lovers
    .introduction__leftbox
    .introduction__backgrand
  .blank
    .blank__title.fadeInUp
      ABOUT
    .blank__explanation.fadeInUp
      LOCK LOVE HOUSEでできること
  .set_list__share
    .set_list__share__leftbox
      = image_tag "concert-768722_1920.jpg", class: "live__image"
    .set_list__share__rightbox
      .set_list__share__rightbox__title.fadeInUp
        セットリスト共有
      .set_list__share__rightbox__explanation.fadeInUp
        公演したアーティストのセットリストを投稿したり、
        %br
        投稿されたセットリストにコメントすることができます。
        %br
        セットリストへの投稿やコメントをきっかけにファン同士が
        %br
        お互いのSNSを交換してつながることができます。
      .set_list__share__rightbox__button.fadeInUp
        = link_to "share", events_path
  .image__share
    .image__share__leftbox
      .image__share__leftbox__title.fadeInUp
        写真の共有
      .image__share__leftbox__explanation.fadeInUp
        思い出の写真を取り忘れたり、家で見返してみると
        %br
        残念な写真であったとしても心配ありません。
        %br
        アプリを通じて写真をみんなで共有することができます。
        %br
        思い出の写真をInstagramに投稿することができるでしょう。
      .image__share__leftbox__button.fadeInUp
        = link_to "share", images_path
    .image__share__rightbox
      = image_tag "post_image.jpg", class: "post__image"

.top_footer
  = render partial: "shared/footer"
