= render partial: "shared/header"

.image__content
  .main__content
    .left__box
      .contributor__box
        .contributor__icon__box
          = image_tag "sample_icon.JPG", class: "contributor__icon"
        .contributor__nickname
          さかい
      .button__box
        .like__button
          = render partial: "likes/image_like", locals: { image: @image }
        .twitter__box
          %i.fab.fa-twitter
    .posted__image
      .posted__image__event_name
        = @event.event_name
      .posted__image__content
        = image_tag @image.photograph.url
      .download__button__box
        = button_to download_image_path(@image.id), method: :get, class: "download__button" do
          %i.fas.fa-arrow-down
          Download
  .comment__box
    .comment__contents
      - if @comments.length == 0
        .comment__empty
          まだコメントが投稿されていません。
      - else
        - @comments.each do |comment|
          .comment__posted{data: {comment_id: "#{comment.id}"}}
            .comment__posted__information
              .comment__user__nickname
                = comment.user.nickname
              .comment__post__time
                = comment.created_at.strftime("%Y年%m月%d日 %H:%M")
            .comment__posted__box
              .comment__posted__content
                = comment.content
              - if user_signed_in? && current_user.id == comment.user_id
                %button.image__comment__delete__button
                  %i.far.fa-trash-alt
    .comment__form__box
      - if user_signed_in?
        = form_for [@image, @comment], url: {controller: 'comment_to_images', action: 'create', image_id: @image.id} do |f|
          = f.text_field :content, placeholder: "コメントを入力して下さい", class: "comment__form"
          = f.hidden_field :image_id, value: @image.id
          = f.button type: "submit", class: "comment__post__button" do
            %i.far.fa-comment

= render partial: "shared/footer"
